Models/squeezebert_weights_intra.pth
Models/roberta_weights_intra.pth
Models/distillBERT_weights_intra.pth
Models/BERT_weights_intra.pth
Evaluation/Bert_eval_value.csv
Evaluation/DistillBert_eval_value.csv
Evaluation/Roberta_eval_value.csv
Evaluation/SqueezeBert_eval_value.csv
Data/DocRED/dev.json
Data/DocRED/rel_info.json
Data/DocRED/train_annotated.json
Data/DocRED/train_distant.json
Models/distillBERT_weights.pth
.gitignore